<div class="pagination-holder">
  
  <button type="button" class="page-button left-page-button" data-action-previous>
    <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.667 8H3.333M8 12.667 3.333 8 8 3.333" stroke="#000" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>
  <button type="button" class="inline-button" data-action-first><p>1</p></button>
  <button type="button" class="inline-button" data-action-left-dots><p>2</p></button>
  <p class="left-wing-dots">&#67871&#67871&#67871</p>
  <button type="button" class="inline-button" data-action-second><p>2</p></button>
  <button type="button" class="inline-button" data-action-third><p>3</p></button>
  <div class="pages-container"></div>
  <button type="button" class="inline-button" data-action-last-third><p>-3</p></button> 
  <button type="button" class="inline-button" data-action-last-second><p>-2</p></button>
  <p class="right-wing-dots">&#67871&#67871&#67871</p>
  <button type="button" class="inline-button" data-action-right-dots><p>2</p></button>
  <button type="button" class="inline-button" data-action-last><p></p></button>
  <button type="button" class="page-button left-page-button" data-action-next>
    <svg class="right-arrow" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.667 8H3.333M8 12.667 3.333 8 8 3.333" stroke="#000" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>
  
</div>