.footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding: 30px 0;
  color: #545454;
  background-color: #f7f7f7;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: inherit;
  }
}

.heart {
  fill: $accent-color;
  margin: 0 10px;
}

.footer-btn {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  border: transparent;
  background-color: transparent;
  position: relative;
  color: #545454;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
    color: #545454;
    position: relative;
  }
}

.footer-btn::after {
  background-color: #545454;
  display: inline-block;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;

  @media screen and (min-width: 768px) {
    background-color: #545454;
    display: inline-block;
    position: absolute;
    content: '';
    right: 0;
    bottom: 2px;
    height: 1px;
  }
}

.text-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.text-page-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
